<ion-view view-title="Drop-off Locations">
    <ion-nav-title>
        <img src="img/rollout_logo.png" style="margin-top:5px;" height="30" width="143">
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-location-outline" ng-click="location.getCurrentCoords(false)"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div><label class="item item-input item-select">
            <div class="input-label">
                Type
            </div>
            <select ng-model="location.mapType" 
                    ng-options="item.name for item in location.types track by item.code">
            </select>

        </label>
        </div>
        <div class="map-container">
          <map center="29.754002, -95.373774" zoom="10" style="margin: 0 auto" disable-default-u-i="true">  
            <marker ng-repeat="zone in location.zones" 
                    position="{{zone.coordinates.latitude}},{{zone.coordinates.longitude}}"
                    icon="{{( zone.name === 'CompuCycle' ? 'img/compucycle.png' : '' ) || (zone.type === 'Recycling Facility' ? 'img/environmentfacility.png' : 'img/neighborhoodfacility.png')}}"
                    on-click="app.clickedLocation()">
            </marker>
          </map>
          
        </div>
        <div class="list" style="overflow: auto; height: 272px; overflow-x: hidden;">
          <div ng-if="location.mapType.code === 'all' || location.mapType.code === 'one'">
            <div class="item item-divider item-balanced">
              Recycling Facilities
            </div>
            <div class="item" href="#" ng-repeat="zone in location.zones track by $index" ng-if="zone.type === 'Recycling Facility'">
              {{zone.name}}<br>
              <small>{{zone.distance}} mi.</small>
            </div> 
          </div>     
          <div ng-if="location.mapType.code === 'all' || location.mapType.code === 'two'"> 
            <div class="item item-divider item-balanced">
              Environmental Service Center              
            </div>
            <div class="item" href="#" ng-repeat="zone in location.zones track by $index" ng-if="zone.type === 'Environmental Service Center'">
              {{zone.name}}<br>
              <small>{{zone.distance}} mi.</small>
            </div>     
          </div>
          <div ng-if="location.mapType.code === 'all' || location.mapType.code === 'three'">
            <div class="item item-divider item-balanced">
              Neighborhood Facility
            </div>
            <div class="item" href="#" ng-repeat="zone in location.zones track by $index" ng-if="zone.type === 'Neighborhood Facility'">
              {{zone.name}}<br>
              <small>{{zone.distance}} mi.</small>
            </div>      
          </div>       
          <div ng-if="location.mapType.code === 'all' || location.mapType.code === 'four'">
            <div class="item item-divider item-balanced">
              Non City-Owned Facilities
            </div>
            <div class="item" href="#" ng-repeat="zone in location.zones track by $index" ng-if="zone.type === 'Non City-Owned Facilities'">
              {{zone.name}}<br>
              <small>{{zone.distance}} mi.</small>
            </div>
          </div>   
        </div>


    </ion-content>
</ion-view>
